/* تنسيق عام للصفحة */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* تنسيق رأس الصفحة */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9b21956c;
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-burger {
    font-size: 24px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #bf75dc91;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px hwb(295 8% 23%);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: rgb(253, 253, 253);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0000006e;
}

.search-box {
    flex-grow: 1;
    text-align: center;
}

.search-box input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #a309b893;
    border-radius: 4px;
}

/* تنسيق قائمة الكتب */
.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* تنسيق مربع الكتاب */
.book-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 150px; /* عرض مربع الكتاب */
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.book-container:hover {
    transform: scale(1.05); /* تأثير عند التمرير */
}

.book-cover img {
    width: 100%; /* عرض غلاف الكتاب */
    height: auto;
    border-radius: 5px;
}

.book-title {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

/* تنسيق الفوتر */
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}